name: Cargo Clippy

on:
  pull_request:
    branches:
      - main

jobs:
  clippy:
    name: Run Clippy
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
        
      - name: Run Cargo Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
